/** @format */

.Sidebar {
	flex: 0.3;
	border-right: 1px solid var(--twitter-background);
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 20px;
	/* min-width: 250px; */
}
.SidebarOption {
	display: flex;
	font-size: 0.5em;
	align-items: center;
	cursor: pointer;
	margin: -20px 0px 0px 10px !important;
	font-weight: bold;
}

.SidebarOption:hover {
	color: var(--twitter-color);
	background-color: var(--twitter-background);
	border-radius: 30px;
	padding: 0px;
	transition: color 200ms ease-out;
}

.SidebarOption > .MuiSvgIcon-root {
	padding: 20px;
	font-size: 20px;
}

.Sidebar > .MuiSvgIcon-root {
	color: var(--twitter-color);
	margin-left: 28px;
	margin-bottom: 10px;
	font-size: 30px;
}
.SidebarOption--active {
	color: var(--twitter-color);
}

.Sidebar button {
	background-color: var(--twitter-color) !important;
	color: white !important;
	border: none !important;
	font-weight: 900 !important;
	text-transform: inherit !important;
	border-radius: 30px;
	height: 40px;
	margin-top: 20px;
}
