/** @format */
* {
	font-weight: bolder;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
	display: flex;
	height: 100vh;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	--twitter-color: #00acee;
	--twitter-background: #e8f5fe;
}
